* {
  scrollbar-width: thin;
  scrollbar-color: black white;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid white;
}

:root {
  --text-color: #222831;
  --heading-color: #393e46;
  --primary-color: #00adb5;
  --secondary-color: #eeeeee;
}

html,
body {
  position: relative;
  scroll-behavior: smooth;
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
}

input:disabled {
  color: #ccc;
}

h1 {
  color: var(--heading-color);
}

.outline-button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.outline-button:not(:disabled):active {
  border: 1px solid #ddd;
  color: #ddd;
}

.pp {
  width: 100%;
  height: auto;
}
